<div class="div_buscador span12" style="margin-bottom: 50px">
  <legend>Buscador general</legend>
    <div class="control-group">
      <label class="control-label" for="peliculas">Peliculas</label>
      <div class="controls">
        {{view App.InputBuscador valueBinding=query placeholder="titulo de la pelicular" required="true"}}
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        {{view  App.CheckBoxBuscador checkedBinding=affinity }}  Buscar en omdbapi
      </div>
    </div>
  {{#if affinity}}
  <div class="control-group">
      <div class="controls">
        <button class="btn btn-primary" {{action buscar }}> Buscar </button>
      </div>
    </div>
  </div>
  {{/if}}
 </div>

 {{#if affinity}}

 <legend>Listado de Peliculas - OmdbApi</legend>
 <table class="table table-striped">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Categoria</th>
      <th>Duracion</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
  {{#each film in peliculas}}
    <tr>
      <td>{{film.titulo}}</td>
      <td>{{film.categoria}}</td>
      <td>{{film.duration}}</td>
    </tr>
  {{/each}}
  </tbody>
 </table>

 {{ else }}

  <legend>Listado de Peliculas - Local</legend>
  <table class="table table-striped">
  <thead>
  <tr>
    <th>Titulo</th>
    <th>Categoria</th>
    <th>Duracion</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  {{#each film in resultados}}
  <tr>
    <td>{{film.titulo}}</td>
    <td>{{film.categoria}}</td>
    <td>{{film.duration}}</td>
    <td>{{#linkTo 'films.film' film}}<button class="btn btn-primary">Ver</button>{{/linkTo}}</td>
  </tr>
  {{/each}}
  </tbody>
  </table>

 {{/if}}
