 <div class="rows">
   <div class="caracteristicas span6">
     <div class="general span12">
       <div class="rows">
         <div class="descripcion span6">
             <h3>Titulo</h3>
             <p>{{ titulo }}</p>

             <h5>Categoria</h5>
             <p>{{ categoria }}</p>

             <h5>Duracion</h5>
             <p>{{ duration }} min </p>
             <h5>Duracion Generada</h5>
             <p>{{duracion_texto}}</p>
             {{#if hayActores}}
             <h5>Reparto de actores <small>( {{ actors.length }} )</small></h4>
             <ul>
               {{#each actor in actors}}
               <li>{{#linkTo 'actors.actor' actor}} {{actor.nombre }} {{ actor.apellido  }}{{/linkTo}}</li>
               {{/each}}
             </ul>
             {{/if}}
         </div>
         <div class="multimedia span6">
           <br/>
           <br/>
           <img class="thumb" style="height: 150px;width: 150px" {{bindAttr  src="url_portada" }} />
         </div>
       </div>
     </div>
   </div>
   <div class="Acciones span6">
      <h3>Acciones</h3>
        <ul>
          <li style="list-style: none; margin-bottom: 10px">{{#linkTo 'films'}} <button class="btn"> Volver Listado </button>{{/linkTo}}</li>
          <li style="list-style: none; margin-bottom: 10px">{{#linkTo 'films.edit' this}} <button class="btn "> Editar Film</button>{{/linkTo}}</li>
          <li style="list-style: none;"><button {{action destroy}} class="btn btn-danger"> Eliminar </button></li>
        </ul>
   </div>
 </div>
