<p id="notice"><%= notice %></p>

<p>
  <b>Index:</b>
  <%= @actor.index %>
</p>

<p>
  <b>Show:</b>
  <%= @actor.show %>
</p>

<p>
  <b>New:</b>
  <%= @actor.new %>
</p>

<p>
  <b>Create:</b>
  <%= @actor.create %>
</p>

<p>
  <b>Update:</b>
  <%= @actor.update %>
</p>

<p>
  <b>Destroy:</b>
  <%= @actor.destroy %>
</p>


<%= link_to 'Edit', edit_actor_path(@actor) %> |
<%= link_to 'Back', actors_path %>
