<div class="control-group">
  <label class="control-label" for="titulo">Titulo</label>
  <div class="controls">
    {{view Ember.TextField valueBinding="titulo" id="titulo" placeholder="Titulo" required="true"}}
  </div>
</div>
<div class="control-group">
<label class="control-label" for="categoria">Categoria</label>
<div class="controls">
  {{view Ember.TextField valueBinding="categoria" id="categoria" placeholder="Categoria" required="true"}}
</div>
</div>
<div class="control-group">
<label class="control-label" for="estreno">Estreno?</label>
<div class="controls">
  {{view Ember.Checkbox checkedBinding="estreno" id="estreno"}}
</div>
</div>
<div class="control-group">
<label class="control-label" for="duration">Duracion</label>
<div class="controls">
  {{view Ember.TextField valueBinding="duration" id="duration" placeholder="Expresado en minutos"}}
</div>
</div>
<div class="control-group">
<label class="control-label" for="url_portada">Url Caratula</label>
<div class="controls">
  {{view Ember.TextArea valueBinding="url_portada" id="url_portada" placeholder="Ejemplo: http://www.dominio.com/foto.jpg"}}
  <img style="margin-left: 20px;height: 50px;" {{bindAttr src="url_portada"}} />
</div>
