<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @film.titulo %>
</p>

<p>
  <b>Categoria:</b>
  <%= @film.categoria %>
</p>

<p>
  <b>Estreno:</b>
  <%= @film.estreno %>
</p>


<%= link_to 'Edit', edit_film_path(@film) %> |
<%= link_to 'Back', films_path %>
